{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}    
<div class="login-registration" style="background-image: url(https://wallpapercave.com/wp/wp4021632.jpg); height:100%;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-11">
            <div class="card-group mb-0">
                <div class="card p-4">
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    <h1>LogIn</h1>
                    <p class="text-muted">SignIn to your account</p>
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-success px-4" type="submit">LogIn</button>
                            </div>
                            <div class="col-6 text-right">
                                <small class="text-muted">
                                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Register Now!</a>
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                <div class="card text-white bg-success d-md-down-none" style="width:44%">
                <div style="height: 440px; overflow: hidden;">
                    <div style="margin: -400px 0px 0px 0px;">
                    <img src="https://c0.wallpaperflare.com/preview/935/131/755/flowers-interior-room-home.jpg" alt="">
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}